<!DOCTYPE html>
<html>
  <head>
    <title>Toddle Exhibition App</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/create.css" />

    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> 
  </head>
  <body>
    <%- include('../templates/navbar.ejs') %>
    <div class="container" id="app">
      <input class="question title" v-model="name" placeholder="Survey Title">
      <hr>
      <ol>
        <li v-for="question in questions" :v-key="question">
          {{ question }}
        </li>
      </ol>

      <input v-model="question" type="text" class="question" placeholder="Type Question"><br>
      <button class="btn" @click="addQuestion">Add Question</button>
      <button class="btn" v-show="showCreate" @click="createSurvey">Create Survey</button>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/survey/create.js"></script>
  </body>
</html>
