<!DOCTYPE html>
<html>
  <head>
    <title>Toddle Exhibition App</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/create.css" />

    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> 
  </head>
  <body>
    <%- include('../templates/navbar.ejs') %>
    <div class="container" id="app">
      <h3 style="margin-top: 0">List of Surveys</h3>
      <hr>
      <ol>
        <% for(survey of surveys){ %>
        <li>
          <a href="/survey/<%= action %>/<%= survey.survey_id %>"><%= survey.name %></a>
        </li>
        <% } %>
      </ol>
    </div>
  </body>
</html>
