<!DOCTYPE html>
<html>
  <head>
    <title>Toddle Exhibition App</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/take.css" />

    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> 
  </head>
  <body>
    <%- include('../templates/navbar.ejs') %>
    <div class="container" id="app">
      <h3 style="margin: 0">{{ name }}</h3>
      <hr>
      <ol>
        <li
          v-for="(question, index) in questions"
          :v-key="question"
          style="margin-bottom: 15px"
        >
          <h4>{{ question.question }}</h4>
          <span>Yes ({{ question.yes }})</span> - 
          <span>No ({{ question.no }})</span>
        </li>
      </ol>
      <input type="hidden" id="survey_id" value="<%= survey_id %>">
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/survey/result.js"></script>
  </body>
</html>
