<!DOCTYPE html>
<html>
  <head>
    <title>Toddle Exhibition App</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/take.css" />

    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> 
  </head>
  <body>
    <%- include('../templates/navbar.ejs') %>
    <div class="container" id="app">
      <h3 style="margin: 0">{{ name }}</h3>
      <hr>
      <form @submit.prevent="submitSurvey">
        <ol>
          <li
            v-for="(question, index) in questions"
            :v-key="question"
            style="margin-bottom: 15px"
          >
            <p>{{ question.question }}<p>
            <input
              :name="question.question"
              v-model="questions[index].val"
              type="radio"
              value="yes"
              class="radio"
              required
            >
            <label>Yes</label>

            <input
              :name="question.question"
              v-model="questions[index].val"
              type="radio"
              value="no"
              class="radio"
              required
            >
            <label>No</label>
          </li>
        </ol>
        <button class="btn">Submit</button>
      </form>
      <input type="hidden" id="survey_id" value="<%= survey_id %>">
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/survey/take.js"></script>
  </body>
</html>
