<!DOCTYPE html>
<html>
  <head>
    <title>Toddle Exhibition App</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> 
  </head>
  <body>
    <%- include('./templates/navbar.ejs') %>
    <div class="container">
      <h2>1. Authentication endpoint: </h2>
      <ul>
        <li>It is a public endpoint.</li>
        <li>Request body will contain an arbitrary username/password pair. Treat it as a mock authentication service and accept any username/password.</li>
        <li>Return a signed JSON Web Token (JWT, https://jwt.io/) which can be used to validate future requests.</li>
        <li>BONUS: Implemented in GraphQL</li>
        <li><a href="/survey">Survey Page</a></li>
      </ul>
    </div>
    <hr>
    <div class="container">
      <h2 style="margin: 0">API Testing Interface</h2>
      <form id="sign-in">
        <input id="username" placeholder="Username" required><br>
        <input id="password" placeholder="Password" type="password" required><br>
        <button class="btn">Submit</button>
      </form>
    </div>
    <div class="container">
      <pre><code id="response"></code></pre>
    </div>
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/script.js"></script>
  </body>
</html>
