<!DOCTYPE html>
<html>
  <head>
    <title>Toddle Exhibition App</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> 
  </head>
  <body>
    <%- include('./templates/navbar.ejs') %>
    <div class="container">
      <h2>2. Survey REST API endpoints:</h2>
    </div>
    <hr>
    <div class="container options">
      <a href="/survey/create">Create Survey</a> |
      <a href="/survey/take">Take Survey</a> |
      <a href="/survey/result">Get Survey Results</a>
    </div>
    <div class="container">
      <pre><code id="response"></code></pre>
    </div>
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/script.js"></script>
  </body>
</html>
