<div class="navbar">
  <a href="/" style="color: white; text-decoration: none">
    <h1 class="logo">
      Toddle Exhibition App
    </h1>
  </a>
  <div class="skip"></div>
  <a href="/logout" style="color: white; text-decoration: none">
    <h4 class="username">
      Logout (<%= user.auth ? user.data.username : "" %>)
    </h4>
  </a>
</div>
