body, html {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.navbar {
  width: 100%;
  height: 50px;
  color: white;
  display: flex;
  align-items: center;
  background: #FF5869;
}

.logo {
  font-size: 18px;
  margin-left: 10px;
}

.skip {
  flex: 1;
}

.username {
  margin-right: 10px;
}

.container {
  padding: 20px;
}

.options {
  margin-left: -10px;
}

.options > a {
  margin: 0 10px;
}

input, button {
  margin-top: 10px;
}

input {
  padding: 5px;
  border: 1px solid #EEEEEE;
}

.btn {
  color: white;
  border: none;
  cursor: pointer;
  min-width: 100px;
  padding: 5px 10px;
  background: #FF5869;
}
